@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}



.text{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

body{
  width: 100vw;
  height: 100vh;
  animation: bg-animation 33s infinite;
}

@keyframes bg-animation{
  0% {background-color: #755bea;}
  15% {background-color: #6dd5ed;}
  30% {background-color: #ffafbd;}
  45% {background-color: #753a88;}
  60% {background-color: #fa878e;}
  75% {background-color: #36d1dc;}
  100% {background-color: #755bea;}
}

@keyframes box{
  15% {background-color: #755bea;}
  30% {background-color: #6dd5ed;}
  45% {background-color: #ffafbd;}
  60% {background-color: #753a88;}
  75% {background-color: #fa878e;}
  100% {background-color: #36d1dc;}
  0% {background-color: #755bea;}
}

@keyframes text{
  100% {text-shadow: 0 0 0.5vw #6dd5ed, 0 0 1vw #6dd5ed, 0 0 2vw #6dd5ed;}
  0% {text-shadow: 0 0 0.5vw #6dd5ed, 0 0 1vw #6dd5ed, 0 0 2vw #6dd5ed;}
  15% {text-shadow: 0 0 0.5vw #ffafbd, 0 0 1vw #ffafbd, 0 0 2vw #ffafbd;}
  30% {text-shadow: 0 0 0.5vw #753a88, 0 0 1vw #753a88, 0 0 2vw #753a88;}
  45% {text-shadow: 0 0 0.5vw #fa878e, 0 0 1vw #fa878e, 0 0 2vw #fa878e;}
  60% {text-shadow: 0 0 0.5vw #36d1dc, 0 0 1vw #36d1dc, 0 0 2vw #36d1dc;}
  75% {text-shadow: 0 0 0.5vw #755bea, 0 0 1vw #755bea, 0 0 2vw #755bea;}
}

@keyframes shadow{
  100% {box-shadow: 0 0 0.5vw #6dd5ed, 0 0 1vw #6dd5ed, 0 0 2vw #6dd5ed;}
  0% {box-shadow: 0 0 0.5vw #6dd5ed, 0 0 1vw #6dd5ed, 0 0 2vw #6dd5ed;}
  15% {box-shadow: 0 0 0.5vw #ffafbd, 0 0 1vw #ffafbd, 0 0 2vw #ffafbd;}
  30% {box-shadow: 0 0 0.5vw #753a88, 0 0 1vw #753a88, 0 0 2vw #753a88;}
  45% {box-shadow: 0 0 0.5vw #fa878e, 0 0 1vw #fa878e, 0 0 2vw #fa878e;}
  60% {box-shadow: 0 0 0.5vw #36d1dc, 0 0 1vw #36d1dc, 0 0 2vw #36d1dc;}
  75% {box-shadow: 0 0 0.5vw #755bea, 0 0 1vw #755bea, 0 0 2vw #755bea;}
}

h1{
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 80vw;
  animation: text 33s infinite;
}

.slider-frame{
  position: absolute;
  border-radius: 2vw;
  border: 1px transparent solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 32vw;
  width: 48vw;
  margin: auto;
  margin-top: 5vw !important;
  animation: shadow 33s infinite;
}
@-webkit-keyframes slide_animation{
  0% {left: 0vw;}
  12.5% {left: 0vw;}
  25% {left: 48vw;}
  37.5% {left: 48vw;}
  50% {left: 96vw;}
  62.5% {left: 96vw;}
  75% {left: 48vw;}
  87.5% {left: 48vw;}
  100% {left: 0vw;}
}
.slide-images{
  width: 144vw;
  height: 32vw;
  margin: 0 0 0 -96vw;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.slide-images img{
  width: 48vw;
  height: auto
}
.img-container{
  height: 32vw;
  width: 48vw;
  position: relative;
  float:left;
}

.box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 20s linear infinite, shadow 33s linear infinite, box 33s linear infinite;
  bottom: -150px;
  border-radius: 2vw;
}

.box li:nth-child(1){
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box li:nth-child(4){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
  
.box li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
  
  @keyframes animate{
    0%{
    transform: translateY(0) rotate(0deg);
    opacity: 0.5;
    }
    
    100%{
    transform: translateY(-800px) rotate(540deg);
    opacity: 0;
    }
  }

@media(max-width: 1000px){
    .menupages ul li a{
    color: #fff;
    font-size: 25px !important;
    }
 }
